@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply border border-gray-200 py-2 px-6 bg-zinc-100/40
}

body {
    @apply bg-green-100
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.loading {
    width: 100px;
    height: 100px;
    display: grid;
    border: 8px solid #0000;
    border-radius: 50%;
    border-color: #393e46 #0000;
    animation: s6 1s infinite linear;
}

.loading::before,
.loading::after {
    content: "";
    grid-area: 1/1;
    margin: 4px;
    border: inherit;
    border-radius: 50%;
}

.loading::before {
    border-color: #39ff39 #0000;
    animation: inherit;
    animation-duration: .5s;
    animation-direction: reverse;
}

.loading::after {
    margin: 16px;
}

tr,
td,
th {
    @apply border border-black
}

@keyframes s6 {
    100% {
        transform: rotate(1turn)
    }
}